@model TransacaoModel


<h3>Registrar Transação</h3>

@{
    var vId = 0;
    var vData = "";
    var vTipo = "";
    var vValor = 0.0;
    var vDescricao = "";
    var vContaId = 0;
    var vPlanoContaId = 0;



    try
    {
        vId = int.Parse(@ViewBag.Registro.Id.ToString());
        vData = DateTime.Parse(@ViewBag.Registro.Data.ToString()).ToString("yyyy-MM-dd");
        vTipo = @ViewBag.Registro.Tipo.ToString();
        vValor = double.Parse(@ViewBag.Registro.Valor.ToString());
        vDescricao = ViewBag.Registro.Descricao.ToString();
        vContaId = int.Parse(ViewBag.Registro.Conta_Id.ToString());
        vPlanoContaId = int.Parse(ViewBag.Registro.Planos_Contas_Id.ToString());

    }
    catch
    {

    }

}


<form asp-controller="Transacao" asp-action="Registrar">
    <input type="hidden" asp-for="Id" value="@vId" />

    <div class="form-group">
        <label>Data:</label>
        <input type="date" class="form-control" asp-for="Data" value="@vData" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Descrição:</label>
        <input type="text" class="form-control" asp-for="Descricao" value="@vDescricao" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Tipo:</label>

        @{

            if (vTipo == "R")
            {
                <div class="radio">
                    <label>
                        <input type="radio" class="form-control" asp-for="Tipo" value="R" checked>Receita
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" class="form-control" asp-for="Tipo" value="D" unchecked>Despesa
                    </label>
                </div>
            }
            else
            {

                <div class="radio">
                    <label>
                        <input type="radio" class="form-control" asp-for="Tipo" value="R" unchecked>Receita
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" class="form-control" asp-for="Tipo" value="D" checked>Despesa
                    </label>
                </div>
            }
        }

    </div>

    <div class="form-group">
        <label>Valor:</label>
        <input type="Number" class="form-control" asp-for="Valor" value="@vValor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Histórico:</label>
        @Html.TextArea("Descricao", vDescricao, new {@class = "form-control" })
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Conta:</label>
        <select asp-for="Conta_Id" class="form-control">
            @{
                foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                {
                    if (item.Id.ToString() == vContaId.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                }

            }
        </select>
    </div>


    <div class="form-group">
        <label>Plano de Conta:</label>
        <select asp-for="Plano_Contas_Id" class="form-control">
            @{
                foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
                {
                    if (item.Id.ToString() == vPlanoContaId.ToString())
                    {
                        <option selected value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                    else
                    {
                        <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                    }
                }

            }
        </select>
    </div>



    <button type="submit" class="btn btn-block btn-success">Registrar</button>

</form>

